/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

/* Main Styles */
body {
  color: #ff6969;
  text-align: center;
  background-color: #212121;
  font-family: 'Slabo 27px', serif;
}

#head-note {
  color: #f0f0f0;
}

#accolades {
  margin-top: 2em;
}

.certificate {
  padding: 0.4em;
  display: block;
  border-radius: 16%;
  margin: 0 30% 0 30%;
  background-color: #f0f0f0;
}