// Fonts
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

// Colours
$rose: #ff6969;
$noir: #212121;
$yeyo: #f0f0f0;

//
$centred_margin: 1% 30% 1% 30%;
$centred_margin_tablet: 1% 20% 1% 20%;

// Main Styles
body {
  color: $rose;
  text-align: center;
  background-color: $noir;
  font-family: 'Slabo 27px', serif;
}

#head-note {
  color: $yeyo;
}

.space {
  margin: 2em 0 2em 0;
}

.certificate {
  padding: 0.4em;
  display: block;
  border-radius: 16%;
  margin: $centred_margin;
  background-color: $yeyo;
}

#key-note {
  color: $yeyo;
  padding: 0.4em;
  display: block;
  border-radius: 2%;
  margin: $centred_margin;
  background-color: $rose;
}

.inked {
  color: $noir;
}

#social {
  padding: 0.4em;
  display: block;
  border-radius: 16%;
  margin: 1% 40% 1% 40%;
}

.iconz {
  color: $yeyo;
}

.shift-left {
  float: left;
}

.shift-right {
  float: right;
}

/* Mobile Responsive */
@media all and (max-width: 1201px) {
  .certificate {
    margin: $centred_margin_tablet;
  }

  #key-note {
    margin: $centred_margin_tablet;
  }

  #social {
    margin: 1% 35% 1% 35%;
  }
}

@media all and (max-width: 601px) {
  .certificate {
    margin: 1% 10% 1% 10%;
  }

  #key-note {
    margin: 1% 10% 1% 10%;
  }

  #social {
    margin: 1% 20% 1% 20%;
  }
}
